

.container-all{
  margin: auto;
  margin-top: 60px;
  width: 800px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background: white;
  border-radius: 3px;
}

.container-onglets {
  width: 100%;
  height: 10%;
  display: flex;
  border-bottom: 1px solid rgba(196, 194, 194, 0.883);
}

.onglets {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  height: 50px;
}

.onglets:not(:nth-child(2)) {
  border-right: 1px solid rgba(196, 194, 194, 0.883);
}

.content {
  height: 70%;
  width: 100%;
}

.content h3 {
  padding-left: 50px;
  margin-top: 10px;
}

.content p {
  padding: 8px;
  margin-left: -7px;
}

// animation //

.active-tab {
  background: #DD326A;
  color: white;
  transition: all 0.3s ease;
}

.active-content {
  animation: fade 0.5s forwards;
  display: block;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
