.review_box {
  padding-left: 100px;
  padding-right: 510px;
}

.display-reviews {
  height: 82px;
  margin-top: 50px;
  border-radius: 5px;
}

.form-review {
  padding: 10px 20px;
  margin-top: 90px;
  border-radius: 3px;
}

.name-rating-review {
  padding: 5px 30px 10px 20px;
}

.content-review {
  padding-left: 20px;
}

.fa-star-yellow{
  color: #FEDE00;
}
